
.layui-body .idcard{
    width: 320px;
    height: 280px;
    margin: 0 auto;
    background:#FF5722;
    color:#fff;
    text-align: center;

    border-radius: 5px;
    ul{
        width: 300px;
        li{
            height: 50px;
            line-height: 50px;
        }
    }
}