.mydiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    >.mylogin{
       
        width: 420px;
        height: 160px;
        
        
        
   
    }
}