.top{
    width: 1000px;
    margin: 0 auto;
    height: 70px;
    margin-top: 10px;
}
.fL{
    float: left;
}
.t-m{
    margin-left: 15px;
}
.t-r{
    text-align: right;
    width: 430px;

    ul{
        list-style: none;
        li{
            margin-bottom: 5px;
        }
    }
}
.fR{
    float: right;
    font-size: 10px;
}
.s_wr{
    z-index: 0;
    position: relative;
    text-align: left;
    width: 330px;
    display: inline-block;
    background: url("http://www.newmotor.com.cn/search/images/sosuo_bg.png") no-repeat;
    height: 31px;
    input{
        border-width: 0;
    }
}
.s_k{
    color: #999999;
    text-align: left;
    margin: 6px 0px 0px 7px;
    outline-width: 0px;
    width: 320px;
    font:16px arial;
    background: #fff;
    height: 18px;
    
}
.s_btn{
    z-index: 10;
    position: relative;
    width: 84px;
    background: url("http://www.newmotor.com.cn/search/images/sosuo_bg.png")
    no-repeat -480px 0px;
    height: 31px;
    color: #fff;
    margin-left: -7px;
    font-size: 14px;
    font-weight: bolder;
    left: 0;
}